<div class="container">
	<div class="row">
		<h2 class ="admin-customers-index-title">会員一覧</h2>
		<table class="">
			<thead>
				<tr>
					<th>会員ID</th>
					<th>氏名</th>
					<th>メールアドレス</th>
					<th>ステータス</th>
				</tr>
			</thead>
			<tbody>
				<% @customers.each do |customer| %>
				<tr>
					<td><%= customer.id %></td>
					<td><%= link_to (customer.last_name_kanji + customer.first_name_kanji), admin_customer_path(customer) %></td>
					<td><%= customer.email %></td>
					<td><% if customer.is_enabled == ture %></td>
						<span>有効</span>
					<% else %>
						<span>退会済み</span>
					<% end %>
				</tr>
				<% end %>

			</tbody>
		</table>
		<div class="row text-center">
		<%= paginate @customers, class: "paginate" %>
		</div>
	</div>
</div>