<div class="body-height">
<div class="container">
	<div class="row">
<!--左側ジャンル検索のフォーム-->

<h1>ようこそ、NaganoCakeへ！</h1>
<p>このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧は出来ますが、購入には会員登録が必要になります。</p>



<div id="carouselExampleIndicators" class="carousel carousel-fade slide" data-ride="carousel">

  <!-- スライドさせる画像の設定 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'cake.jpg', class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'cake3.jpg', class: 'd-block w-100' %>
    </div>
    <div class="carousel-item">
      <%= image_tag 'cake2.jpg', class: 'd-block w-100' %>
    </div>
  </div><!-- /.carousel-inner -->

  <!-- スライドコントロールの設定 -->
  <!-- "<"のデザイン -->
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <!-- ">"のデザイン -->
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>



	</div>
</div>
</div>
<script>
	// オプションを指定してSkipprの実行
$(".carousel-inner").skippr({
  // スライドショーの変化（"fade" or "slide"）
  transition : 'fade',
  // 変化にかかる時間（ミリ秒）
  speed : 1000,
  // easingの種類
  easing : 'easeOutQuart',
  // ナビゲーションの形（"block" or "bubble"）
  navType : 'block',
  // 子要素の種類（"div" or "img"）
  childrenElementType : 'div',
  // ナビゲーション矢印の表示（trueで表示）
  arrows : true,
  // スライドショーの自動再生（falseで自動再生なし）
  autoPlay : true,
  // 自動再生時のスライド切替間隔（ミリ秒）
  autoPlayDuration : 5000,
  // キーボードの矢印キーによるスライド送りの設定（trueで有効）
  keyboardOnAlways : true,
  // 1枚目のスライド表示時に戻る矢印を表示するかどうか [false]:矢印を隠さない [true]:矢印を隠す
  hidePrevious : false
});
</script>