<div class="container">
	<!--左側ジャンル検索画面-->
	<div class="row">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ジャンル一覧</th>
				</tr>
			</thead>
			<tbody>
				<td>
				<% @genres.each do |genre| %>
			</td>
			<% end %>
		</tbody>
	</table>
	<h3>商品一覧</h3>
